.bic-bg {
  background-color: var(--cor-11);
}

.bic-title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.bicicletas-bg {
  background-color: var(--cor-0);
}

.bicicletas-01-bg {
  background-color: var(--cor-0);
  padding: 60px 0;
}

.bicicletas-02-bg {
  padding: 60px 0;
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0);
}

.bicicletas-03-bg {
  background-color: var(--cor-0);
  padding: 60px 0;
}

.bicicleta-01-content-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.bic-img {
  display: grid;
  grid-template-columns: 1fr;
}

.bic-img img {
  grid-area: 1/1;
}

.bicicleta-01-content-bg span {
  grid-area: 1/1;
  background-color: var(--cor-12);
  color: var(--cor-0);
  padding: 5px 10px 5px 10px;
  place-self: start end;
  border-radius: 5px 0 0 5px;
  margin-top: 15px;
}

.bicicleta-01-content a {
  background: linear-gradient(var(--cor-p1), var(--cor-p2));
  align-items: center;
  justify-content: center;
  max-width: max-content;
  padding: 16px 32px;
  display: flex;
  border-radius: 5px;
  color: var(--cor-p5);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  float: right;
  gap: 20px;
  place-self: end;
}

.bicicleta-01-content a:hover {
  background: linear-gradient(var(--cor-p1), var(--cor-p3));
}

.bicicleta-01-content {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.bicicleta-01-content img {
  width: 24px;
  display: inline-block;
}

.bicicleta-01-content li {
  padding-bottom: 10px;
  color: var(--cor-7);
  display: flex;
  align-items: center;
  gap: 10px;
}

.bicicleta-01-content p {
  padding-bottom: 15px;
  color: var(--cor-7);
  grid-column: 1/-1;
}

.bicicleta-01-content ul {
  list-style: none;
}

.bicicleta-01-content h2 {
  grid-column: 1/-1;
  padding-bottom: 20px;
  position: relative;
}

.bicicleta-01-content h2::before {
  content: '';
  width: 15px;
  height: 10px;
  background-color: var(--cor-p1);
  display: block;
  position: absolute;
  top: -20px;
}

@media (max-width: 800px) {
  .bicicleta-01-content-bg {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .bicicleta-01-content {
    padding-top: 50px;
  }
  .bicicleta-01-content a {
    float: initial;
  }
  .bicicleta-01-content ul {
    padding-bottom: 30px;
  }
  .bicicletas-02-bg {
    background: var(--cor-11);
  }
}
