.lista-article {
  background: #fff;
  display: block;
}

.lista-article ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0 20px;
}

.lista-article img {
  height: 550px;
  border-radius: 5px;
  object-fit: cover;
}

.lista-article h2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}
